#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  margin: 0.1em;
}

.nc-news {
  color: rgb(145, 209, 246);
}

ul {
  text-decoration: none;
}

.sell {
  display: flex;
  flex-wrap: wrap;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding-top: 1em;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5em;
}

.nav-links li {
  margin: 0 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-item {
  margin: 0 10px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: azure;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0.75em;
}

h2 {
  padding: 1em;
}

img {
  max-width: 100%;
  height: auto;
  padding: 1em;
}

@media (max-width: 768px) {
}

.single-article-view {
  padding: 1em;
}

.votes {
  padding: 1em;
}

.comments {
  padding: 1em;
  color: whitesmoke;
}

.comments-body {
  padding: 1em;
  color: rgb(193, 200, 240);
  font-weight: 400;
}

.comment-header {
  font-weight: 100;
}

.vote-container {
  display: flex;
  align-items: center;
}

.single-article-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-field {
  width: 50%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
}
